doctype
<!--[if lte IE 6]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IEMobile 7]>
<html class="no-js iem7" lang="en">
<![endif]-->
<!--[if (IE 7)&(!IEMobile)]>
<html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
head
  meta(charset='utf-8')
  title= config.title
  meta(name='description', content='')
  meta(name='generator', content='kss-node')
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='public/kss.css')
  != styles

body#kss-node
  .kss-sidebar.kss-style
    header.kss-header
      h1.kss-doc-title= config.title

    nav.kss-nav
      ul.kss-nav__menu
        li.kss-nav__menu-item
          a(href='index.html')
            span.kss-nav__ref 0
            span.kss-nav__name Overview

        each root in helpers.eachRoot()
          li.kss-nav__menu-item
            a(href='section-#{root.referenceURI}.html')
              span.kss-nav__ref
                if helpers.ifNumeric(root.reference)
                  = root.reference
                else
                  = root.autoincrement
              span.kss-nav__name= root.header

          if helpers.ifReference(rootName, root)
              ul.kss-nav__menu-child
                each section in helpers.eachSection(root.reference)
                  if helpers.ifDepth(2, section)
                    li.kss-nav__menu-item
                      a(href='section-#{root.referenceURI}.html#kssref-#{section.referenceURI}')
                        span.kss-nav__ref
                          if helpers.ifNumeric(section.reference)
                            = section.reference
                          else
                            = section.autoincrement
                        span.kss-nav__name= section.header

  article.kss-main(role='main')
    if homepage
      #kssref-0.kss-section.kss-section--depth-0.kss-overview.kss-style
        != homepage
    else
      each section in helpers.eachSection(rootName)
        - var tag = helpers.ifDepth(1, section) ? 'div' : 'section';
        #{tag}.kss-section(id='kssref-#{section.referenceURI}', class='kss-section--depth-#{section.depth}')

          .kss-style
            - var htag = 'h' + section.depth;
            #{htag}.kss-title(class='kss-title--level-#{section.depth}')

              a.kss-title__permalink(href='#kssref-#{section.referenceURI}')
                span.kss-title__ref
                  if helpers.ifNumeric(reference)
                    = section.reference
                  else
                    = section.autoincrement
                  span.kss-title__permalink-hash
                    if helpers.ifNumeric(reference)
                      | #permalink
                    else
                      | ##{section.reference}
                = section.header

            if section.parameters.length
              ul.kss-parameters
                each parameter in helpers.eachParameter(section)
                  li.kss-parameters__item
                    code.kss-parameters__name= parameter.name
                    .kss-parameters__description!= parameter.description

            if section.description
              .kss-description!= section.description
            
            if section.colors
              .kss-modifier__wrapper
                .kss-modifier__heading.kss-style
                  | Color Sample

                .kss-modifier__example
                  each color in helpers.eachColor(section)
                    p(class='color-#{color.color}')= color.description

            if section.markup
              .kss-modifier__wrapper
                .kss-modifier__heading.kss-style
                  if section.modifiers.length
                    | Examples
                  else
                    | Example

                if section.modifiers
                  .kss-modifier__default-name.kss-style
                    | Default styling

                  .kss-modifier__example
                    if !section.defaultmodifier
                      != helpers.markup(section)
                    else
                      | see <strong>#{section.defaultmodifier}</strong> below.
      
                each modifier in helpers.eachModifier(section)
                  .kss-modifier__name.kss-style
                    = modifier.name
                           
                  .kss-modifier__description.kss-style
                    != modifier.description
                           
                  .kss-modifier__example
                    != helpers.markup(modifier)

              .kss-markup.kss-style
                pre.prettyprint.linenums.lang-html
                  code(data-language='html')
                    = helpers.markup(section)

  // SCRIPTS
  script(src='public/kss.js')
  script(src='public/prettify.js')
  script.
    prettyPrint();
  != scripts

  // Automatically generated using <a href="https://github.com/kss-node/kss-node">kss-node</a>.
  // Generator: <a href="https://github.com/kotorieclair/kss-jade-react-generator">kss-jade-react-generator</a>.

</html>
